// font-size
$font-small: 0.625rem; 
$font:0.75rem;
$font-medium: 1rem; 
$font-large: 1.25rem; 

//Colors
$dark-gray: rgb(128, 128, 128);
$gray: rgb(218, 218, 218);
$white: white; 
$black: black; 
$red: red; 
$blue: blue; 

// fonts: 

// <link rel="stylesheet" href="https://use.typekit.net/exg0lcs.css">
$font-1: acumin-pro, sans-serif;

// @import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
$font-2: 'Viaoda Libre', cursive;;

// display-flex 




